.pool {
    fill: #3db1ff;
    stroke: #4f4f4f;
}

h1 {
    font-family: sans-serif;
}

.scale {
    width: 150px;
}

#wrap {
    margin: 0 auto;
    width: 960px;
}

#left {
    width: 30%;
}

#right {
    width: 70%;
}

.inner {
    float: left;
}
